{% extends 'base.html.twig' %}

{% block body %}
	<!-- Navbar -->
    <header class="app-header"><a class="app-header__logo" href="{{ path('main_homepage') }}"></a>
        <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>        
    </header>
	<!-- Sidebar menu-->
	<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
	<aside class="app-sidebar">
		<ul class="app-menu">
			<li>
				<a class="app-menu__item {{ current_route is same as 'main_homepage' ? 'active' }}" href="{{ path('main_homepage') }}">
					<i class="app-menu__icon fa fa-home"></i>
					<span class="app-menu__label">Home</span>
				</a>
			</li>
			<li>
				<a class="app-menu__item {{ current_route is same as 'projects_page' ? 'active' }}" href="{{ path('projects_page') }}">
					<i class="app-menu__icon fa fa-laptop"></i>
					<span class="app-menu__label">Projects</span>
				</a>
			</li>
			<li>
				<a class="app-menu__item {{ current_route is same as 'about_page' ? 'active' }}" href="{{ path('about_page') }}">
					<i class="app-menu__icon fa fa-info"></i>
					<span class="app-menu__label">About</span>
				</a>
			</li>				
		</ul>
	</aside>


	<!-- Main Content -->
	<main class="app-content">
		{% block main %}{% endblock %}
		<footer class="main-footer">
			&copy; 2023 - Abdoul Alim
		</footer>
	</div>

	<script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
