<div class="app-recentprojects-section">
	<div class="app-homepage-sections-title">
		<i class="app-menu__icon fa fa-laptop"></i>
		Recent Projects
	</div>

	<div class="app-recent-projects-container">
		{% if latestUpdatedProject %}
			<div class="recent-updated-project-card">
				<div class="project-card">
					<div class="project-card-image">
						{% for image in latestUpdatedProject.images %}
							{% if loop.first %}
								<img src="{{ asset( image.path ) }}" alt="project{{latestUpdatedProject.id}}-img">
							{% endif %}
						{% endfor %}
					</div>
					<div class="project-card-button">
						<div class="project-card-button-row">
							<a href="{{ path('projects_details_page', { 'id': latestUpdatedProject.id }) }}">
								{{ latestUpdatedProject.name | upper }}
							</a>
						</div>
						<div class="project-card-button-row">
							<div class="recently-update-indicator">
								Recently Updated
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endif %}

		<div class="recent-projects-container">
			{% for project in recentProjects %}
				<div class="project-card">
					<div class="project-card-image">
						{% for image in project.images %}
							{% if loop.first %}
								<img src="{{ asset( image.path ) }}" alt="project{{project.id}}-img">
							{% endif %}
						{% endfor %}
					</div>
					<div class="project-card-button">
						<div class="project-card-button-row">
							<a href="{{ path('projects_details_page', { 'id': project.id }) }}" class="">
								{{ project.name|upper }}
							</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

</div>
