{% if recentProjects %}
	<div class="app-recentprojects-section">
		<div class="app-homepage-sections-title">
			<i class="app-menu__icon fa fa-laptop"></i>
			Recent Projects
		</div>

		<div class="recent-projects-buttons-section">
			<a class="all-projects-btn" href="{{ path('projects_page') }}">
				All Projects
			</a>
		</div>

		<div class="app-recent-projects-container">
			{% if latestUpdatedProject %}
				<a class="recent-updated-project-card" href="{{ path('projects_details_page', { 'id': latestUpdatedProject.id }) }}" >
					<div class="recent-project-card">
						<div class="project-card-image">
							{% for image in latestUpdatedProject.images %}
								{% if loop.first %}
									<img src="{{ asset( image.path ) }}" alt="project{{latestUpdatedProject.id}}-img">
								{% endif %}
							{% endfor %}
						</div>
						<div class="project-card-button">							
							<div class="project-card-button-row">
								<div class="recently-update-indicator">
									Recently Updated
								</div>
							</div>
						</div>
					</div>
				</a>
			{% endif %}

			<div class="recent-projects-container">
				{% for project in recentProjects %}
					<a class="recent-project-card" href="{{ path('projects_details_page', { 'id': project.id }) }}">
						<div class="project-card-image" >
							{% for image in project.images %}
								{% if loop.first %}
									<img src="{{ asset( image.path ) }}" alt="project{{project.id}}-img">
								{% endif %}
							{% endfor %}
						</div>
					</a>
				{% endfor %}
			</div>
		</div>
	</div>
{% endif %}
